[package]
name = "builder-unlock"
version = "1.1.0"
authors = ["Astroport"]
edition = "2021"
repository = "https://github.com/astroport-fi/astroport-governance"
homepage = "https://astroport.fi"

[lib]
crate-type = ["cdylib", "rlib"]

[features]
backtraces = ["cosmwasm-std/backtraces"]
# use library feature to disable all init/handle/query exports
library = []

[dependencies]
cw2 = "0.13.3"
cw20 = "0.13.3"
cosmwasm-std = "1.0.0"
cw-storage-plus = "0.13.3"
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
astroport-governance = { path = "../../packages/astroport-governance", default-features = false, version = "1.0.0"}
thiserror = { version = "1.0.20" }

[dev-dependencies]
cosmwasm-schema = "1.0.0"
cw-multi-test = "0.13.2"
astroport-token = {git = "https://github.com/astroport-fi/astroport.git", branch = "feat/update_main_to_cosmwasm_1.0.0" }
