[package]
name = "astroport-tests"
version = "1.0.0"
authors = ["Astroport"]
edition = "2021"
repository = "https://github.com/astroport-fi/astroport-governance"
homepage = "https://astroport.fi"

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
cw2 = "0.15"
cw20 = "0.15"
cosmwasm-std = "1.1"
schemars = "0.8.1"
serde = { version = "1.0.144", default-features = false, features = ["derive"] }

cosmwasm-schema = "1.1"
cw-multi-test = "0.15"
astroport = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "feat/migrate-all-SC-to-std-1.1" }

astroport-escrow-fee-distributor = { path = "../../contracts/escrow_fee_distributor" }
astroport-governance = { path = "../astroport-governance" }
voting-escrow = { path = "../../contracts/voting_escrow" }
generator-controller = { path = "../../contracts/generator_controller" }
astroport-generator = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "feat/migrate-all-SC-to-std-1.1" }
astroport-pair = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "feat/migrate-all-SC-to-std-1.1" }
astroport-factory = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "feat/migrate-all-SC-to-std-1.1" }
astroport-token = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "feat/migrate-all-SC-to-std-1.1" }
astroport-staking = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "feat/migrate-all-SC-to-std-1.1" }
astroport-whitelist = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "feat/migrate-all-SC-to-std-1.1" }
anyhow = "1"