[package]
name = "voting-escrow"
version = "1.2.0"
authors = ["Astroport"]
edition = "2018"
repository = "https://github.com/astroport-fi/astroport-governance"
homepage = "https://astroport.fi"

exclude = [
    # Those files are rust-optimizer artifacts. You might want to commit them for convenience but they should not be part of the source code publication.
    "contract.wasm",
    "hash.txt",
]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib", "rlib"]

[features]
# for quicker tests, cargo test --lib
# for more explicit tests, cargo test --features=backtraces
backtraces = ["cosmwasm-std/backtraces"]

[dependencies]
cw2 = "0.13"
cw20 = "0.13"
cw20-base = { version = "0.13", features = ["library"] }
cosmwasm-std = "1.0"
cw-storage-plus = "0.13"
schemars = "0.8.1"
serde = { version = "1.0.103", default-features = false, features = ["derive"] }
thiserror = { version = "1.0.20" }
astroport-governance = { path = "../../packages/astroport-governance" }

[dev-dependencies]
cosmwasm-schema = "1.0"
cw-multi-test = "0.13"
astroport-token = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "main" }
astroport-staking = { git = "https://github.com/astroport-fi/astroport-core.git", branch = "main" }
astroport-escrow-fee-distributor = { path = "../escrow_fee_distributor" }
anyhow = "1"
proptest = "1.0.0"